.post_wrapper {
  margin-bottom: 20px;
  img {
    width: 100%;
    height: auto;
  }
}
.content_excerpr_wrapper {
  text-indent:25px;
  font-size: 16px;
    iframe {
      width: 100%;
    }
}
.post_wrapper {
  .read_more_btn {
    text-indent: 0 ;
    float: right;
  }
}
.content_news_title_text {
  @include color-link($colorblack);
}
.content_category_link {
  a {
    @include color-link($colorred);
  }
}
.load_more_box {
  margin-bottom: 30px;
}
.icon_load_more {
  .load_more_text {
    font-size: 25px;
    text-transform: uppercase;
  }
  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}
.breadcrumbs {
  a {
    @include color-link($colorblack);
  }
  .current {
    @include color-link($colorred)
  }
}
.content_news_title_text {
  display: block;
}
.sidebar_page {
  box-sizing: border-box;
  border: 1px solid #666666;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  padding: 15px;
  position: fixed;
  text-align: center;
    h5 {
      font-size: 18px;
      font-weight: 700;
    }
  a {
    @include color-link($colorblack);
      i {
        font-size: 20px;
      }
  }
  p {
    font-weight: 400;
  }
   .sidebar_page_btn {
     display: block;
     margin-top: 25px;
     text-transform: uppercase;
     border-radius:0 !important;
     background: $colorred;
   }
}