.footer_wrapper {
  padding: 59px 0 38px 0;
  background: #111111;
}
.footer_title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.copyright_box {
  border-top: 2px solid  #222222;
  padding: 39px 0 0 0;
  .copyright_text {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
  }
  a {
    @include color-link(#d84949);
  }
}