.index_main_img {
  display: table;
  position: relative;
  width:100%;
  background: url("../img/index/evening-sity.jpg")center center;
  padding: 200px 0 100px;
}

.remain_massage_box {
  padding: 100px 0 100px 0;
  text-align: center;
  display: table-cell;
  width:90%;
  background: rgba(0,0,0,0.3);
  a:first-child {
    margin-right:60px;
  }
    .index_main_img_title {
      color: #fff;
      font-size: 40px;
    }
    .index_main_img_title:first-child {
      font-weight: 700;
    }
    .remain_massage_btn {
      margin-top:120px;
      padding:20px 60px;
      font-weight: 700;
      background: $colorred;
      font-size: 25px;
      text-transform: uppercase;

      @include color-link($colorblack);
        &:hover {
          transition: 0.5s;
          color: #fff;
        }
        &:checked {
          cursor: pointer;
        }
    }

}
.agency_offers_wrapper {
  margin-top: 60px;
  padding: 80px 0 84px 0;
  background-color: #333333;
  .row_line {
    margin-top: 40px;
    margin-bottom: 50px;
  }
    h3 {
      color: #ffffff;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
    }
  i {
    display: block;
    color: #d84949;
    font-size: 65px;
    margin-bottom:40px;
  }
  span {
    display: block;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  p {
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}
.row_line {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 1px;
  background-color: #444444;
}
.advantage_news_about_wrapper {
  padding: 40px 0 110px 0;
}
.advantage_title {
  display: block;
  margin-bottom:30px;
  color: #333333;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.advantage_news_mult_box {
  width: 100%;
  height:208px;
  background-color: grey;
}
.advantage_news_date_box {
  width: 100px;
  height: 100px;
  background-color: #d84949;
  text-align: center;
    span {
      display: inline-block;
      margin-top: 15px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
    }
}
.advantage_text {
  margin: 29px 0 27px 0;
  text-align: justify;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
}

.read_more_btn {
  border-radius: 0!important;
  background: transparent;
  padding:15px 20px;
  border: 2px solid #333333 !important;
  outline:0 !important;
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
}



.side-advantages {
  ul {
    list-style: square;
    margin: 0;
    padding:0 0 0 18px;
      li {

      }
  }
}
.side-advantages {
  position: relative;
  padding:5px;
  border: 1px solid #333333;
  margin-bottom:10px;
  overflow: hidden;
  //  i {
  //    position: absolute;
  //    right:15px;
  //    top:5px;
  //    cursor: pointer;
  //  }
  //.fa-minus {
  //  display: none;
  //}

}
.widget_wrapper .side-advantages.widget:after {
     content: '-';
     position: absolute;
    font-size: 27px;
    font-weight: 700;
    top: -5px;
    right: 4px;
     cursor: pointer;
}

.widget_wrapper .side-advantages:after {
  content: '+';
  position: absolute;
  font-size: 25px;
  font-weight: 700;
  top:0;
  right: 0;
  cursor: pointer;
}
.widget-title {
  font-weight: 700;
}
.widget_container {
  display: none;
}

.map_box {
  iframe {
    width:100%;
    height: 350px;
  }
}