.page_contact_widget  {
  display: inline-block;
  text-align: center;

}

.products  {
     li {
       //display: block;
       display: table;
       height:200px;
       position: relative;
       padding: 10px !important;
       width:100% !important;
       border: 1px solid #666666;
       box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
       margin: 0 0 20px 0 !important;
       float: none !important;
          .read_more_btn {
            position: absolute;
            right: 7px;
            top: 55px;
          }
     }
    h3 {
      display: inline-block;
      vertical-align: top;
    }
    .woocommerce-LoopProduct-link {
      display: table-row;
        h3 {
          display: table-cell;
          width:70%;
        }
    }
  }
.woocommerce ul.products li.product a img {
  //display: inline-block !important;
  //display: table-cell;
  position: absolute;
  width: 21% !important;
  height: auto;
  margin: 0 0 1em;
  box-shadow: none;
}
.posted_in, .tagged_as {
  a {
    @include color-link($colorred);
  }
}
.woocommerce-LoopProduct-link {
  h3 {
    @include color-link($colorblack);
    font-weight: 700;
 }
}
.wp-post-image {
  position: relative;
  //&:hover {
  //  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  //  filter: blur(5px);
  //  transition: 1s;
  //}
  //&:after {
  //  content: "asdasd";
  //  position: absolute;
  //  display: block;
  //  width:25px;
  //}

}
.berocket_aapf_widget {
  input {
    background-color: $colorred;
    text-transform: uppercase;
    color: #fff;
    border: none !important;
    padding:5px 20px;
  }
}
.berocket_aapf_widget-wrapper {
  select {
    height: 26px;
    border: 1px solid #999999;
    -webkit-appearance: none;
    background-image: url('../img/woocommerce/arrow.png');
    background-position: 95% center;
    background-repeat: no-repeat;
    line-height: 1em;
    cursor: pointer;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
  }

  select::-ms-expand {
    display: none;
  }
}
.attributes_wrapper {
  position: absolute;
  display: table-cell;
  top: 50px;
  left: 56%;
  vertical-align: bottom;
  font-size: 0;
    p {
      position: relative;
      font-size: 16px;
      color: $colorred;
    }
    p:nth-child(1) {
      &:after {
        color: $colorblack;
        content: "Месторасположение объекта: ";
        position: absolute;
        left: -255px;

      }
    }
      p:nth-child(2) {
        &:after {
          color: $colorblack;
          content: "Тип операции: ";
          position: absolute;
          left: -255px;
        }
    }
      p:nth-child(3) {
        &:after {
          color: $colorblack;
          content: "Вид объекта: ";
          position: absolute;
          left: -255px;
        }
      }
}