@keyframes menu_underline {
  from {
    width: 0; }
  to {
    width: 100%; } }

.container_header_wrapper {
  position: fixed;
  width: 100%;
  z-index: 999; }

.contact_header_block {
  background: #111111; }

.header_phone_block {
  margin-top: 13px; }
  .header_phone_block span, .header_phone_block i {
    display: inline-block;
    vertical-align: middle;
    color: #aaaaaa;
    font-size: 13px;
    font-weight: 700; }
  .header_phone_block i {
    padding-right: 5px; }

.header_social_box {
  float: right !important; }
  .header_social_box .header_social_icons {
    list-style: none;
    font-size: 0;
    margin: 0;
    float: right; }
  .header_social_box .social_icons_element {
    display: inline-block;
    border-left: 2px solid #222222;
    font-size: 16px;
    padding: 10px;
    text-align: center; }
    .header_social_box .social_icons_element:last-child {
      border-right: 2px solid #222222; }
    .header_social_box .social_icons_element a {
      display: inline-block;
      vertical-align: middle;
      transition: 1s;
      color: #aaaaaa; }
      .header_social_box .social_icons_element a:link {
        text-decoration: none;
        color: #aaaaaa; }
      .header_social_box .social_icons_element a:visited {
        text-decoration: none;
        color: #aaaaaa; }
      .header_social_box .social_icons_element a:hover {
        color: #fff;
        transition: 1s; }

.header_contact_row {
  position: relative; }

.header_logo_box {
  position: absolute;
  z-index: 999;
  width: 240px;
  height: 120px;
  background: #d84949; }
  .header_logo_box img {
    margin: 17px 0 0 20px; }
  .header_logo_box h1 {
    color: #fff;
    font-weight: 600;
    margin: 0 0 0 20px; }
    .header_logo_box h1 a {
      color: #fff; }
      .header_logo_box h1 a:link {
        text-decoration: none;
        color: #fff; }
      .header_logo_box h1 a:visited {
        text-decoration: none;
        color: #fff; }
    .header_logo_box h1 span {
      font-weight: 300; }
  .header_logo_box h2 {
    margin: 0 0 0 20px;
    font-size: 18px;
    color: #fff; }
    .header_logo_box h2 a {
      color: #fff; }
      .header_logo_box h2 a:link {
        text-decoration: none;
        color: #fff; }
      .header_logo_box h2 a:visited {
        text-decoration: none;
        color: #fff; }

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
.sticky_header_logo_box {
  position: absolute;
  z-index: 999;
  width: 240px;
  height: 76px;
  background: #d84949; }
  .sticky_header_logo_box img {
    margin: 2px 0 0 20px;
    transform: scale(0.7); }
  .sticky_header_logo_box h1 {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    margin: -6px 0 0 30px; }
    .sticky_header_logo_box h1 a {
      color: #fff; }
      .sticky_header_logo_box h1 a:link {
        text-decoration: none;
        color: #fff; }
      .sticky_header_logo_box h1 a:visited {
        text-decoration: none;
        color: #fff; }
    .sticky_header_logo_box h1 span {
      font-weight: 300; }
  .sticky_header_logo_box h2 {
    margin: -2px 0 0 29px;
    color: #fff;
    font-size: 16px; }
    .sticky_header_logo_box h2 a {
      color: #fff; }
      .sticky_header_logo_box h2 a:link {
        text-decoration: none;
        color: #fff; }
      .sticky_header_logo_box h2 a:visited {
        text-decoration: none;
        color: #fff; }

.navigation_wrapper {
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25); }

.menu {
  position: relative;
  list-style: none;
  font-size: 0;
  margin: 0;
  float: right; }
  .menu li {
    display: inline-block;
    padding: 27px 10px; }
  .menu li:not(.active_link) a:hover:after {
    position: absolute;
    content: '';
    top: 20px;
    left: 0;
    border-radius: 5px;
    width: 100%;
    height: 2px;
    background: #111111;
    animation: menu_underline 0.7s; }
  .menu a {
    display: inline-block;
    vertical-align: middle;
    color: #333333;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    width: inherit; }
    .menu a:link {
      text-decoration: none;
      color: #333333; }
    .menu a:visited {
      text-decoration: none;
      color: #333333; }

.submenu {
  position: absolute;
  padding: 0; }
  .submenu li {
    display: block;
    padding: 0; }

.menu .submenu {
  display: none; }

.menu li:hover .submenu {
  display: block; }

.submenu li {
  background: rgba(255, 255, 255, 0.6); }
  .submenu li a {
    padding: 10px;
    width: 100%; }
  .submenu li a:hover:after {
    content: none !important; }

.submenu li:hover {
  background: #d84949; }

.active_link a {
  color: #d84949 !important; }

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
.menu_btn {
  display: none;
  cursor: pointer; }
  .menu_btn .bar1, .menu_btn .bar2, .menu_btn .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

.sticky {
  position: fixed;
  background: #fff;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  transition: 1s; }

.index_main_img {
  display: table;
  position: relative;
  width: 100%;
  background: url("../img/index/evening-sity.jpg") center center;
  padding: 200px 0 100px; }

.remain_massage_box {
  padding: 100px 0 100px 0;
  text-align: center;
  display: table-cell;
  width: 90%;
  background: rgba(0, 0, 0, 0.3); }
  .remain_massage_box a:first-child {
    margin-right: 60px; }
  .remain_massage_box .index_main_img_title {
    color: #fff;
    font-size: 40px; }
  .remain_massage_box .index_main_img_title:first-child {
    font-weight: 700; }
  .remain_massage_box .remain_massage_btn {
    margin-top: 120px;
    padding: 20px 60px;
    font-weight: 700;
    background: #d84949;
    font-size: 25px;
    text-transform: uppercase;
    color: #111111; }
    .remain_massage_box .remain_massage_btn:link {
      text-decoration: none;
      color: #111111; }
    .remain_massage_box .remain_massage_btn:visited {
      text-decoration: none;
      color: #111111; }
    .remain_massage_box .remain_massage_btn:hover {
      transition: 0.5s;
      color: #fff; }
    .remain_massage_box .remain_massage_btn:checked {
      cursor: pointer; }

.agency_offers_wrapper {
  margin-top: 60px;
  padding: 80px 0 84px 0;
  background-color: #333333; }
  .agency_offers_wrapper .row_line {
    margin-top: 40px;
    margin-bottom: 50px; }
  .agency_offers_wrapper h3 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase; }
  .agency_offers_wrapper i {
    display: block;
    color: #d84949;
    font-size: 65px;
    margin-bottom: 40px; }
  .agency_offers_wrapper span {
    display: block;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .agency_offers_wrapper p {
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 400;
    text-align: center; }

.row_line {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 1px;
  background-color: #444444; }

.advantage_news_about_wrapper {
  padding: 40px 0 110px 0; }

.advantage_title {
  display: block;
  margin-bottom: 30px;
  color: #333333;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase; }

.advantage_news_mult_box {
  position: relative;
  width: 100%;
  background-color: grey; }
  .advantage_news_mult_box img {
    width: 100%;
    height: auto; }

.advantage_news_date_box {
  position: absolute;
  width: 100px;
  height: 55px;
  background-color: #d84949;
  text-align: center; }
  .advantage_news_date_box span {
    display: inline-block;
    margin-top: 15px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700; }

.advantage_text {
  margin: 29px 0 27px 0;
  text-align: justify;
  color: #666666;
  font-size: 14px;
  font-weight: 400; }

.read_more_btn {
  border-radius: 0 !important;
  background: transparent;
  padding: 15px 20px;
  border: 2px solid #333333 !important;
  outline: 0 !important;
  color: #333333;
  font-weight: 700;
  text-transform: uppercase; }

.side-advantages ul {
  list-style: square;
  margin: 0;
  padding: 0 0 0 18px; }

.side-advantages {
  position: relative;
  padding: 5px;
  border: 1px solid #333333;
  margin-bottom: 10px;
  overflow: hidden; }

.widget_wrapper .side-advantages.widget:after {
  content: '-';
  position: absolute;
  font-size: 27px;
  font-weight: 700;
  top: -5px;
  right: 7px;
  cursor: pointer; }

.widget_wrapper .side-advantages:after {
  content: '+';
  position: absolute;
  font-size: 25px;
  font-weight: 700;
  top: 0;
  right: 3px;
  cursor: pointer; }

.widget-title {
  font-weight: 700; }

.widget_container {
  display: none; }

.map_box iframe {
  width: 100%;
  height: 350px; }

.footer_wrapper {
  padding: 59px 0 38px 0;
  background: #111111; }

.footer_title {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px; }

.copyright_box {
  border-top: 2px solid  #222222;
  padding: 39px 0 0 0; }
  .copyright_box .copyright_text {
    font-size: 14px;
    font-weight: 400;
    color: #999999; }
  .copyright_box a {
    color: #d84949; }
    .copyright_box a:link {
      text-decoration: none;
      color: #d84949; }
    .copyright_box a:visited {
      text-decoration: none;
      color: #d84949; }

.footer_contact_widget ul {
  padding: 0;
  list-style: none;
  color: #999999; }
  .footer_contact_widget ul li {
    position: relative;
    padding: 0 0 0 20px;
    font-size: 16px; }
    .footer_contact_widget ul li i {
      position: absolute;
      color: #d84949;
      top: 1px;
      left: 0; }
  .footer_contact_widget ul a {
    color: #999999; }
    .footer_contact_widget ul a:link {
      text-decoration: none;
      color: #999999; }
    .footer_contact_widget ul a:visited {
      text-decoration: none;
      color: #999999; }

.menu_footer_box {
  padding: 0;
  list-style: none; }
  .menu_footer_box li {
    font-size: 16px; }
    .menu_footer_box li a {
      color: #999999; }
      .menu_footer_box li a:link {
        text-decoration: none;
        color: #999999; }
      .menu_footer_box li a:visited {
        text-decoration: none;
        color: #999999; }
      .menu_footer_box li a:hover {
        text-decoration: underline !important; }

.main-heading {
  padding-top: 110px; }

.about_page_content_wrapper {
  font-size: 16px; }

.post_wrapper {
  margin-bottom: 20px; }
  .post_wrapper img {
    width: 100%;
    height: auto; }

.content_excerpr_wrapper {
  text-indent: 25px;
  font-size: 16px; }

p, span, a, h1, h2.h3, h4, h5, h6, li {
  font-family: 'Roboto', sans-serif !important; }

.row.no_mg {
  margin: 0; }

[class^="col-"].no_pd {
  padding-right: 0;
  padding-left: 0; }

.container-fluid.no_pd {
  padding-right: 0;
  padding-left: 0; }

.container.no_pd {
  padding-right: 0;
  padding-left: 0; }

.hide {
  display: none; }

.show {
  display: block; }

.main_section {
  padding-top: 145px; }

@media screen and (max-width: 1024px) {
  .remain_massage_box .remain_massage_btn {
    margin-top: 120px;
    padding: 20px 40px;
    font-size: 20px; }
  .map_wrapper .advantage_title {
    margin-top: 60px; }
  .index_main_img {
    padding: 150px 0 50px; } }

@media screen and (max-width: 768px) {
  .header_logo_box {
    width: 190px;
    height: 100px; }
  .header_logo_box h1 {
    margin: 0 0 0 5px;
    font-size: 30px; }
  .header_logo_box h2 {
    margin: 0 0 0 5px;
    font-size: 14px; }
  .header_logo_box img {
    margin: 10px 0 0 5px; }
  .menu_wrapper {
    background: #fff; }
    .menu_wrapper .menu {
      display: none;
      position: fixed;
      width: 100%;
      text-align: center;
      background: rgba(0, 0, 0, 0.95);
      padding: 0; }
      .menu_wrapper .menu li {
        display: block; }
        .menu_wrapper .menu li a {
          color: #fff; }
  .menu li:not(.active_link) a:hover:after {
    content: none !important; }
  .sticky_header_logo_box {
    height: 57px; }
    .sticky_header_logo_box img {
      margin: 0 0 0 16px;
      transform: scale(0.6); }
    .sticky_header_logo_box h1 {
      font-size: 23px;
      margin: -9px 0 0 30px; }
    .sticky_header_logo_box h2 {
      margin: -4px 0 0 29px;
      color: #fff;
      font-size: 14px; }
  .menu_btn {
    display: inline-block;
    padding: 8px 10px 8px 0;
    float: right !important; }
  .submenu {
    position: static; }
    .submenu li {
      background: #d84949; }
  .remain_massage_box {
    padding: 50px 0 50px 0; }
  .remain_massage_box .remain_massage_btn {
    margin-top: 40px; }
  .agency_offers_wrapper {
    margin-top: 40px;
    padding: 40px 0 40px 0;
    background-color: #333333; }
    .agency_offers_wrapper .row_line {
      margin-top: 20px;
      margin-bottom: 20px; }
    .agency_offers_wrapper i {
      font-size: 50px;
      margin-bottom: 20px; }
    .agency_offers_wrapper span {
      font-size: 16px;
      margin-bottom: 20px; } }

@media screen and (max-width: 640px) {
  .remain_massage_box .index_main_img_title {
    font-size: 30px; } }

@media screen and (max-width: 480px) {
  .header_logo_box {
    width: 165px; }
    .header_logo_box h1 {
      font-size: 27px; }
    .header_logo_box h2 {
      font-size: 13px; }
  .remain_massage_box .remain_massage_btn {
    padding: 20px 20px;
    font-size: 16px; }
  .index_main_img {
    padding: 110px 0 20px; }
  .remain_massage_box {
    padding: 25px 0 25px 0; }
  .copyright_box {
    text-align: center; }
  .advantage_title {
    font-size: 30px;
    text-align: center; } }
